@mixin hideScrollbarKeepScroll() {
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
@mixin centerOnTopOfParent() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}