@use './src/scss/common/colors';
html {
  padding: 0;
  background-color:  colors.$dark-background;
  color: colors.$black;
}
.App {
  display: flex;
  text-align: center;
}
.ActivePage {
  width: 80%;
  margin: 1% auto;
}
footer {
  padding-bottom: 6%;
}

.RoundImage {
  border-radius: 50%;
}

.noScroll {
  height: 100%;
  overflow: hidden;
}

.srOnly {
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
}










