.ProfileContainer {
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin: 1% auto;
}
.ProfileInfo {
    padding: 0.1%;
    margin: 3%;
}
.ProfileUsername {
    margin: 0;
}
.ProfileAvatar {
    display: flex;
    flex-direction: column;
}
.ProfileUserActions {
    .Button {
        width: 100%;
    }
}

.Username {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
@media only screen and (max-width: 784px) {
    .ProfileContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .Avatar, .AvatarCard {
            border-radius: 50%;
            width: 180px;
            height: 180px;
        }
    }
}