@use '../../../scss/common/colors';

._notification {
  z-index: 2;
  color: white;
  width: 200px;
  padding: 2%;
  margin: 2%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  img {
    max-width: 20%;
    margin: 2%;
  }
}

.success-notification {
  @extend  ._notification;
  background: colors.$light-green;
}
.error-notification {
  @extend ._notification;
  background: darkred;
}
.warning-notification {
  @extend ._notification;
  background: #DBA800;
}
.mail-notification {
  @extend ._notification;
  background: colors.$nightsky-blue;
  width: 300px;
}
.process-notification {
  @extend ._notification;
  background: colors.$important-element;
}