  @use '../../../scss/common/colors';
  .ChatContainer {
    display: flex;
    height: 100vh;
  }

  .MessageEditor {
    border: none;
  }
  .MessageText {
    position: relative;
    text-align: left;
    width: 100%;
    word-break: break-word;
    p {
      margin: 0;
    }
  }
  .MessageBox {
    margin-bottom: 1.5%;
    margin-left: 1%;
    height: 70vh;
    overflow-y: auto;
  }

  .MessageContainer {
    align-items: flex-end;
    width: 70%;
    padding: .5%;
    border-radius: 5px;
    text-align: left;
    margin-top: .5%;
    margin-left: 2%;
    background: colors.$light-blue;
  }
  .FirstMessageInGroup {
    margin-top: 3%;
  }
  .OutgoingMessageContainer {
    @extend .MessageContainer;
    background: colors.$message-blue;
  }
  .IncomingMessageContainer {
    @extend .MessageContainer;
    background: darken(colors.$card-background, 15%);
  }
  .MessageTextContainer {
    display: flex;
  }
  .MessageText {
    flex: 1;
    margin: 0;
    padding: 0;
  }

  .ChatMainSection {
    height: 100vh;
    width: 100%;
  }
  .BottomSection {
    border: 1px colors.$important-element solid;
    border-radius: 10px;
    margin-left: 2%;
    width: 70%;
    background: colors.$card-background;
  }
  .SendMessagePanel  {
    box-sizing: border-box;
    padding: 1%;
  }
  .RichArea {
    height: 5vh;
    display: flex;
    align-items: baseline;
    word-break: break-all;
    padding: 1%;
  }
  .ScrollDownIcon {
    width: 40px;
    height: 40px;
    margin: 1%;
    cursor: pointer;
  }

  .SenderInfo {
    display: flex;
    align-items: center;
    .MessageAuthorName {
      h5 {
        margin: 0;
        word-break: break-all;
      }
      a {
        color: colors.$black;
        text-decoration: none;
        &:hover {
          color: lighten(colors.$black, 20%);
        }
      }
    }
    .Avatar {
      margin-bottom: .5%;
      margin-right: 1%;
      width: 8vw;
      height: 8vw;
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
    }
  }

  .ChatSelectionIcon {
    pointer-events: none;
    opacity: 0;
  }
  .ChatSelectionHeading {
    margin: 0 auto;
  }
  @media only screen and (max-width: 784px) {
    .CompanionAvatar img {
      margin-left: 0;
    }
    .ChatSelectionIcon {
      font-size: 2em;
      opacity: 1;
      cursor: pointer;
      pointer-events: auto;
    }
    .ChatMainSection.Empty {
      display: none;
    }
    .Message {
      font-size: 60%;
    }

    .RichArea {
      width: 100%;
    }
  }
  .TagMessageIcon {
    color: colors.$important-element;
    &:hover {
      color: colors.$hover-blue;
    }
  }
  .TagMessageIcon.Tagged {
    color: yellow;
  }
  @media only screen and (max-width: 900px) {
    .TopOverlay {
      border-radius: 0;
    }
    .MessageBox {
      height: 60vh;
    }
    .ChatWindow {
      width: 100%;
      margin: 0;
    }
    .TopOverlay {
        font-size: 60%;
        .Avatar {
          width: 30%;
          height: auto;
        }
      .ChatSelectionIcon {
        opacity: 1;
        pointer-events: all;
        font-size: 2em;
      }
    }
    .BottomSection {
      width: 90%;
    }
    .RichArea {
      height: 60%;
    }
    .MessageAuthorName {
      h5 {
        font-size: 50%;
      }
    }
  }