@use 'src/scss/common/colors';
@use 'src/scss/common/mixins';

.Image {
  position: relative;
  overflow: hidden;
}
.Image__nsfw-warning {
  color: colors.$white;
  @include mixins.centerOnTopOfParent();
}