@use '../../../scss/common/colors';

.ChatSelector {
  padding: 1%;
  margin-top: 1%;
  border-radius: 10px;
  width: 30%;
  height: 78.5%;
  background: colors.$card-background;
  box-sizing: border-box;
}
.ChatPaneContent {
  width: 96%;
  display: flex;
  transition: background-color .5s ease-in-out;
  border-radius: 10px;
  margin: 2%;
  padding: 1%;
  &Active {
    background: colors.$important-element;
    color: colors.$white;
  }
  &:not(&Active):hover {
    background: lighten(colors.$shade-blue, 10%);
    a {
      color: colors.$card-background;
    }
  }
}
.ChatPane {
  margin: 1%;
  .LastMessageAuthor {
    margin: 0 .5%;
    font-weight: bold;
  }
 background: colors.$card-background;
  border-radius: 33px;
  cursor: pointer;
  a {
    width: 100%;
    text-decoration: none;
    color: colors.$black;
  }
  .Avatar {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
  }
}
.ChatName {
  font-size: larger;
  font-weight: bold;
}
.ChatNameMessage {
  text-align: left;
  margin: 2%;
}
.LastMessageText {
  display: flex;
  padding: .5%;
  width: 9vw;
  margin: 0 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  p {
    margin: 0 1%;
  }
}
.CreateChatroomButton {
  width: 50%;
  margin-bottom: 4%;
}
.LastMessageContainer {
 display: flex;
  font-size: 65%;
}
@media only screen and (max-width: 784px) {
  .ChatSelector {
    display: none;
  }
  .ChatPaneContent {
    width: 80%;
  }
  .ChatSelector.Expanded {
    margin: 0;
    border-radius: 0;
    overflow-y: auto;
    font-size: 80%;
    display: block;
    width: 100vw;
    .LastMessageText {
      width: 25vw;
    }
  }
}

