@use '../../../scss/common/colors';
@use '../../../scss/common/mixins';

.Loader {
  @include mixins.centerOnTopOfParent();
  width: 50%;
  height: auto;
  padding-top: 50%;
  border-radius: 50%;
  border: colors.$white 3px solid;
  border-top: colors.$important-element 2px solid;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }

}