@use '../../../scss/common/colors';

.RegisterFormWrapper {
  width: 100%;
}
.RegisterForm__input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.RegisterForm__recovery-link {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: colors.$black;
  &:hover {
    text-decoration: underline;
  }
}

.SocialLogin {
  font-size: 2em;
  width:10%;
  border: none;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  a {
    border-radius: 50%;
  }
}
#GoogleLoginButton {
   color: #DB4437;
}
#FacebookLoginButton {
    color: #4267B2;
}
#InstagramLoginButton {
    color: #C13584;
}
#VKLoginButton {
    color: #4680C2;
}
.Button.FormSubmitButton {
    margin: 2% 0;
}
.FormSubmitButton:hover {
    cursor: pointer;
}
.PasswordReset {
    margin: 1%;
}
.RegisterPage {
  width: 40%;
}
@media screen and (max-width: 784px) {
    .SocialLoginWrapper {
       justify-content: center; 
       flex-direction: column;
    }
    .SocialLogin {
        width: 99%;
    }
  .RegisterPage {
    width: 90%;
  }
  }

.TextOnTheLine {
  vertical-align: middle;
  background: colors.$card-background;
  &::before {
    margin-right: 30px;
    content: '';
    position: absolute;
    top: 55%;
    left: 0;
    height: 1px;
    width: 49%;
    border-bottom: 1px solid colors.$important-element;
  }
  &::after {
    content: '';
    position: absolute;
    top: 55%;
    height: 1px;
    width: 49%;
    border-bottom: 1px solid colors.$important-element;
  }
}
