$dark-background: #ededed;
$card-background: #FAFAFA;
$input-background: #C1BCB7;
$black: #3D3D3D;
$white: #fff;
$important-element: #1C75BB;
$light-blue: #add8e6;
$shade-blue:#9bc2cf;
$hover-blue: #27A8E1;
$message-blue: #add8e6;
$light-green: rgb(77, 175, 124);
$green: green;
$nightsky-blue: #2B2C5A;
