.imageToResize {
    width: 100%;
}
.Draggable {
    margin: .5% auto;
    padding: 0;
    width: 50%;
    height:  50%;
    position: relative;
}
.AvatarResultCanvas {
    display: none;
}
.AvatarImageContainer {
 display: inline;
}
.Dragger {
    border: 2px solid black;
    z-index: 1;
}
.ResizerButtonPanel {
    width: 25%;
    margin: 0 auto;
}
.ResizerDropzoneInput {
    padding: 1%;
    width: 90%;
}
.AvatarContainer {
    margin: .5%;
}