@use '../../scss/common/colors';
nav {
    cursor: pointer;
    .ButtonContainer {
        padding: 0;
    }
    .Button {
        width: 100%;
        border-radius: 0;
        border-bottom: 2px solid colors.$light-blue;
    }
}
.Navbar {
    display: flex;
    align-items: center;
}
.NavbarItems {
    border-radius: 10px;
    list-style: none;
    align-items: center;
    font-size: 1.8em;
}

.NavbarItems li  {
    margin: 10%;
}
.NavbarItems li a {
    text-decoration: none;
    color: colors.$black;
}
.NavbarLogo {
    max-width: 10%;
}
.NavbarItems li {
   cursor: pointer;
}
.SettingsIcon {
        width: 50px;
        height: 50px;
}
@media only screen and (max-width: 900px) {
    nav {
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        background: colors.$white;
    }
    .NavbarItems {
        display: flex;
        justify-content: center;
        width: 20%;
        margin: 0 auto;
    }
    .NavbarItems--mobile-invisible {
        display: none;
    }
}

